{{- define "main" }}

<article class="post-single">
	<header class="post-header">
		{{ partial "breadcrumbs.html" . }}
		<h1 class="post-title entry-hint-parent" style="text-align: center; margin-top: 1em; margin-bottom: 0.4em;">
			{{ .Title }}
			{{- if .Draft }}
			<span class="entry-hint" title="Draft">
				<svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
					<path
							d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
				</svg>
			</span>
			{{- end }}
		</h1>
		<h4 style="text-align: center;">
			{{range .Params.authors }}
			<span style="margin-right: 0.8em; white-space: nowrap;">
				{{ . }}
			</span>
			{{end}}
		</h4>
		{{- if .Description }}
		<div class="post-description">
			{{ .Description }}
		</div>
		{{- end }}
		<!-- {{- if not (.Param "hideMeta") }} -->
		<!-- <div class="post-meta"> -->
		<!-- 	{{- partial "post_meta.html" . -}} -->
		<!-- 	{{- partial "translation_list.html" . -}} -->
		<!-- 	{{- partial "edit_post.html" . -}} -->
		<!-- 	{{- partial "post_canonical.html" . -}} -->
		<!-- </div> -->
		<!-- {{- end }} -->
	</header>
	{{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
	{{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
	{{- if (.Param "ShowToc") }}
	{{- partial "toc.html" . }}
	{{- end }}

	{{ if .Params.teaser }}
		<div class="container">
			{{ $l := .Params.teaser | len }}
			{{ $w := sub (div 100 $l) 2 }}
			{{ range $v := .Params.teaser }}
			<figure class="imgcol" style="width: {{ $w }}%; vertical-align: top;"> 
				<!-- <img src="{{ $v.img }}" /> -->
				{{- $image := resources.GetMatch $v.img -}}
				{{ partial "image.html" (dict "Image" $image "Class" "none") }}
				<figcaption> {{ $v.title }} </figcaption> 
			</figure>
			{{ end }}
		</div>
	{{ end }}

	<h2 style="margin-top: 2em; margin-bottom: 0.5em; text-align: center;">Abstract</h2>

	<div class="post-content">
		<div>
			{{ .Content }}
		</div>

		{{ if .Params.downloads }}
			<h2 style="margin-top: 2em; margin-bottom: 0.5em; text-align: center;">Downloads</h2>
			{{ range $v := .Params.downloads }}
				<div>
				<a href="{{ $v.path }}" class="download">
					<i class="fa-solid {{ $v.icon }}"></i>
					{{ $v.name }} 
				</a>
				</div>
			{{ end }}
		{{end}}

		{{ if .Params.bibtex }}
		<h2 style="margin-top: 2em; margin-bottom: 0.5em; text-align: center;">Bibtex</h2>
		<div>
			{{transform.Highlight .Params.bibtex "tex"}}
		</div>
		{{ end }}
	</div>

	<footer class="post-footer">
		{{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
		<ul class="post-tags">
			{{- range ($.GetTerms $tags) }}
			<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
			{{- end }}
		</ul>
		{{- if (.Param "ShowPostNavLinks") }}
		{{- partial "post_nav_links.html" . }}
		{{- end }}
		{{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
		{{- partial "share_icons.html" . -}}
		{{- end }}
	</footer>

	{{- if (.Param "comments") }}
	{{- partial "comments.html" . }}
	{{- end }}
</article>

{{- end }}{{/* end main */}}
